<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express + EJS</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  </head>
  <body class="homepage">
    <nav>
      <% include ../partials/header %>
    </nav>
    <% Object.keys(items).forEach(function (id) { %>
      <div class="<%= items[id].title %>">
        <h2><%= items[id].title %></h2>
        <p><img src="<%= items[id].image %>" alt="<%= items[id].image %>"></p>
        <p><a href="/<%= items[id].link %>">Choose your path!</a></p>
        <p><%= items[id].source %></p>
        <p><%= items[id].archetype %></p>
      </div>
    <% }) %>
  </body>
</html>
